$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$white: #fff;
$grey-bright: #f7f7f7;
$grey: #777;
$black: #333;
$grey-light: #999;
$grey-1: #ddd;
$gold: rgb(255, 187, 0);
$orange: rgb(255, 120, 48);
$blue: rgb(41, 152, 255);
$violet: rgb(86, 67, 250);
$shadow-big: 0 2rem 3rem rgba(0, 0, 0, 0.2);
$shadow-medium: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$shadow-small: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
$transition-fast: all 0.3s ease-in;
$transition-slow: all 0.6s ease-in-out;
$transition-veryslow: all 0.85s ease;
$fontsize-normal: 1.6rem;
