.footer {
  width: 100%;
  background-color: $black;
  padding: 10rem 3rem 15rem 3rem;
  @include respond(small-desktop) {
    padding: 5rem;
  }
  @include respond(tablet) {
    padding: 4rem 2rem;
  }
  @include respond(phone) {
    padding: 4rem 0.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20rem;
    @include respond(small-desktop) {
      gap: 10rem;
    }
    @include respond(tablet) {
      gap: 3rem;
    }
    @include respond(small-tablet) {
      grid-template-columns: 1fr;
      gap: 6rem;
    }
  }

  &__logo {
    height: 100%;
    width: 15rem;
    @include respond(phone) {
      width: 30rem;
    }
  }

  &__container {
    border-top: 0.1rem solid $grey;
    padding: 2rem 0;
    @include respond(tablet) {
      text-align: center;
    }
    @include respond(phone) {
      padding: 1rem 0;
    }

    &-paragraph {
      font-size: $fontsize-normal;
      font-weight: 300;
      color: $white;
      @include respond(small-desktop) {
        font-size: 1.5rem;
      }
      @include respond(small-tablet) {
        width: 50%;
        margin: 0 auto;
      }
      @include respond(phone) {
        width: 75%;
      }
    }

    &-ul {
      display: flex;
      justify-content: space-between;
      align-items: top;
      list-style: none;
      gap: 1rem;
      @include respond(small-tablet) {
        justify-content: space-around;
      }
    }
  }

  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 300;
      color: $white;
      transition: $transition-fast;
      @include respond(small-desktop) {
        font-size: 1.5rem;
      }
    }

    &:hover,
    &:active {
      color: $medium-green;
      background-color: $black;
      transform: rotate(4deg) scale(1.25);
      box-shadow: $shadow-big;
    }
  }
}
